html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body { 
 margin: 0;	
	background-color: #E8E8E8;	
}

.pagestyle { 
	border: 2px solid #D0D0D0 ;
	border-radius: 15px;
	margin: 3em;
}

.list { 
	list-style-type: none;
	background-color: #fff;
}

.title { 
	font-size: 1.75rem;
	font-family: Georgia, serif; 
	display: block;
	padding-bottom: .25em;
	text-align: center;
}

.grey { 
	background-color: #F0F0F0;
	padding: 2em;
	border-radius: 15px 15px 0 0 ;
}

.addbutton { 
	border: 2px solid #A8A8A9;
	border-radius: 8px;
	padding: .5em 1.5em .5em 1.5em;
	font-family: Georgia, serif;
	font-size: 1em;
	background-color: #B6B6B9;
}

.todo { 
	height: 2.25em;
	border: 2px solid #9B9B9B;
	width: 70%;
	font-size: 1em;
	font-family: Georgia, serif;
}

h2 { 
	display: inline-block;
	font-weight: lighter;
	font-family: Georgia, serif;
	font-size: 1.25em;
}

.strikethrough { 
	text-decoration:line-through;
	color: #E0E0E0;
}

.check { 
	background-color:  #F0F0F0;
	border: 1px solid #C8C8C8;
	border-radius: 5px;
	height: 2.75em;
	width: 2em;
	color: #C8C8C8   
}
