html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body { 
 margin: 0;	
}

.pagestyle { 
	border: 2px solid grey;
	border-radius: 15px;
	margin: 3em;
}

.list { 
	list-style-type: none;
}

.title { 
	font-size: 2rem;
	font-family: Georgia, serif; 
	display: block;
	padding-bottom: .25em;
}

.grey { 
	background-color: #e3e3e3;
	padding: 2em;
	border-radius: 15px 15px 0 0 ;
}

.addbutton { 
	border: 2px solid #A8A8A9;
	border-radius: 8px;
	padding: .5em 1.5em .5em 1.5em;
	font-family: Georgia, serif;
	font-size: 1em;
	background-color: #B6B6B9;
}

.todo { 
	height: 3.25em;
	border: 2px solid #9B9B9B;
}

h2 { 
	display: inline-block;
	font-weight: lighter;
	font-family: Georgia, serif;
}

.strikethrough { 
	text-decoration:line-through;
	color: grey;
}

.white { 
	background-color: #fff;
	padding: .5em;
	
}
