html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body { 
 margin: 0;	
}


.pagestyle { 
	margin: 5em;
	border: 2px solid grey;
	border-radius: 15px;
	padding: 2em;
}

.title { 
	font-size: 2rem;
	font-family: Georgia, serif; 
	display: block;
	padding-bottom: .25em;
}